# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

jobs:
- job: 'Windows'
  pool:
    vmImage: vs2017-win2016
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip setuptools wheel
      pip install -r requirements.txt
      pip install -r tests\requirements.txt
      npm install -g phantomjs-prebuilt
      displayName: 'Setup dependencies'
      
  - script: |
      pip freeze
      nosetests --with-cov --cover-package pyecharts_snapshot --cover-package tests --with-doctest --doctest-extension=.rst README.rst tests  pyecharts_snapshot && flake8 . --exclude=.moban.d --builtins=unicode,xrange,long
